apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-nginx
  namespace: portfolio
  labels:
    app.kubernetes.io/name: portfolio-nginx
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: portfolio-nginx
  template:
    metadata:
      labels:
        app.kubernetes.io/name: portfolio-nginx
    spec:
      containers:
        - name: nginx
          image: 575530852213.dkr.ecr.us-east-1.amazonaws.com/projeto-eks/app:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false

